# server configuration
HOST=localhost
PORT=3000

# JWT configuration
ACCESS_TOKEN_KEY=ACCESS_TOKEN_KEY
REFRESH_TOKEN_KEY=REFRESH_TOKEN_KEY
ACCESS_TOKEN_AGE=1800

# postgres configuration
PGUSER=pguser
PGHOST=pghost
PGPASSWORD=pgpassword
PGDATABASE=pgdatabase
PGPORT=pgport
